body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 20vh;

}

input {
    text-transform: uppercase;
}

.container {
    align-content: center;
}

header {
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

form {
    border: 1px solid black;

}