body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 20vh;

}

input {
    text-transform: uppercase;
}

.container {
    align-content: center;
}

header {
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;

}
.results__time {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;

}
